{
  "extends": ["eslint-config-unjs"],
  "rules":
  {
    "no-extra-semi": "off",
    "unicorn/filename-case": "off",
    "@typescript-eslint/no-extra-semi": "off",
    "quote-props": "off",
    "object-shorthand": "off",
    "camelcase": "off",
    "unicorn/text-encoding-identifier-case": "off"
  }
}